*{box-sizing:border-box;}
body{
margin:0;
padding:0;
}
.banner{
width:100%;
height:30vh;
}
.sidebar{
height:60vh;
width:20%;
background-color:black;
float:left;
}
.sidebar a{
color:white;
width:60%;
display:inline-block;
padding:10px;
}
.main{
padding:1vw;
float:left;
width:80%;
height:60vh;
}
.footer{
height:10vh;
width:100%;
background-color:#222;
color:white;
text-align:center;
float:left;
padding-top:5vh;
}
a{
text-decoration:none;
color:white;
transition:all 0.5s;
}
a:hover{color:red;}